[project]
	description = My github.io website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kiran Koduru (kirankoduru)
[access "refs/for/refs/*"]
	read = group user/Kiran Koduru (kirankoduru)
	push = group user/Kiran Koduru (kirankoduru)
	label-Code-Review = -2..+2 group user/Kiran Koduru (kirankoduru)
	label-Verified = -1..+1 group user/Kiran Koduru (kirankoduru)
	rebase = group user/Kiran Koduru (kirankoduru)
	removeReviewer = group user/Kiran Koduru (kirankoduru)
	submit = group user/Kiran Koduru (kirankoduru)
[access "refs/heads/*"]
	read = group user/Kiran Koduru (kirankoduru)
	create = group user/Kiran Koduru (kirankoduru)
	push = +force group user/Kiran Koduru (kirankoduru)
	pushMerge = group user/Kiran Koduru (kirankoduru)
[access "refs/tags/*"]
	push = +force group user/Kiran Koduru (kirankoduru)
	pushTag = group user/Kiran Koduru (kirankoduru)
	pushSignedTag = group user/Kiran Koduru (kirankoduru)
