<div class="input-form">
  <form action="https://feedburner.google.com/fb/a/mailverify"
      method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=kirankoduru', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <input type="text" name="email" placeholder="Please enter your email address"/>
  <input type="hidden" value="kirankoduru" name="uri"/>
  <input type="hidden" name="loc" value="en_US"/>
  <input class="button cursor pointer" type="submit" value="Sign Up Now" />
  </form>
</div>
