.home {
    .post-list{
        h3 {
            margin-bottom:0px;
            a {
                color: $text-color;
            }
        }
    }

    .post-image img{
        border: 1px solid #EFEFEF;
    }

    @include media-query($on-palm) {
        width: 100%;
    }

    .clear-fix{
        clear:both;
    }
}

.text-right {
    text-align: right;
}

.note {
    padding:17px;
    font-size:13px;
    background: #FDE8C5;
    margin:15px auto;
}
.text-gray {
    color: #AAA;
}
.cdf{
    color: #111;
    width: 11px;
    vertical-align: middle;
}
.author{
    color: #777;
}

.post {
    .image {
        margin: 15px 0;
    }
    .signup-form{
        margin: 30px auto;
        background: #e6e2e2;
        padding: 25px 50px;
        text-align: center;

        input[type="text"]{
            padding: 10px;
            width: 75%;
            border-radius: 3px;
            margin-bottom:12px;
        }
        .button {
            padding:10px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 12px 24px;
            border: 1px solid #0d5fb7;
            border-radius: 8px;
            background: #18b3ff;
            background: -webkit-gradient(linear, left top, left bottom, from(#18b3ff), to(#0d5fb7));
            background: -moz-linear-gradient(top, #18b3ff, #0d5fb7);
            background: linear-gradient(to bottom, #18b3ff, #0d5fb7);
            text-shadow: #08386c 1px 1px 1px;
            font: normal normal bold 20px arial;
            color: #ffffff;
            text-decoration: none;
        }

        .button:hover,
        .button:focus {
            border: 1px solid #0f70d7;
            background: #1dd7ff;
            background: -webkit-gradient(linear, left top, left bottom, from(#1dd7ff), to(#1072dc));
            background: -moz-linear-gradient(top, #1dd7ff, #1072dc);
            background: linear-gradient(to bottom, #1dd7ff, #1072dc);
            color: #ffffff;
            text-decoration: none;
        }
        .button:active {
            background: #0d5fb7;
            background: -webkit-gradient(linear, left top, left bottom, from(#0d5fb7), to(#0d5fb7));
            background: -moz-linear-gradient(top, #0d5fb7, #0d5fb7);
            background: linear-gradient(to bottom, #0d5fb7, #0d5fb7);
        }
    }

    pre {
        overflow-y: scroll
    }
}

.pagination {
    padding-top:10px;
    color: #777;

    .page-numbers{
        float:left;
        display: inline-block;
    }

    .arrows {
        float:right;
        display: inline-block;
    }
}

.cursor.pointer{
    cursor:pointer;
}

h1,h2,h3,h4,h5,h6{
    a {
        display:none;
    }

    &:hover a{
        display: inline-block;
        color: #AAA;
    }   
}


table {
    th, td {
        border: 1px solid #AAA;
        border-collapse: collapse;
        padding: 4px;
    }
}


.clear-both{
    clear:both;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}


.scrapy-book{

    .image {
        width:23%;
        padding:4%;

        @include media-query($on-palm) {
            width: 100%;
            padding:0;
        }

        img {
            @include media-query($on-palm) {
                max-width: 75%
            }
        }
    }

    .text{
        width:67%;
        padding-top:1%;
        padding-right:2%;
        text-align: left;

        @include media-query($on-palm) {
            width:100%;
            padding:0;
            text-align:center;
        }
    }
}
